* {
  font-family: "Caveat", cursive;
  /* border: pink 1px solid; */
  margin: 0;
  /* box-sizing: border-box; */
}

body {
  /* background: rgb(131, 58, 180); */
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
}

header {
  background: rgb(0, 0, 0, 0.4);
  text-align: center;
  border-bottom: 0.2rem rgb(255, 224, 222) solid;
  padding: 0;
}
h1 {
  font-family: "Indie Flower", cursive;
  color: rgb(255, 224, 222);
  font-size: 4rem;
}

.main-container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.grid-container {
  width: 90%;
  height: 70vh;
  margin: 0 auto;
  display: grid;
  gap: 0;
}

.btn {
  font-size: 2rem;
  /* padding: 0 2em; */
  border-radius: 5px;
  /* display: block; */
  margin: 1em auto;
  width: 40%;
  background: rgb(255, 224, 222);
}
.btn:hover {
  background: rgb(222, 180, 177);
  font-weight: 700;
}

.box {
  border: black 1px solid;
  margin: 0;
}

.box-drawn {
  background: rgb(222, 180, 177);
}
